.product {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
}
.product > main {
  display: flex;
  height: 15rem;
  justify-content: center;
  margin: 2.5rem auto;
  /* margin-top: 4rem; */
  gap: 8rem;
  padding: 4rem 8rem;
}
.product figure {
  /* width: 50%; */
  flex: 1;
}
.product figure img {
  display: inline-block;
  width: 100%;
  padding: 5rem;
  /* aspect-ratio: 1/1; */
  /* height: 100%; */
}
.product div {
  flex: 1;
  align-self: baseline;
  margin-top: 2rem;
}
.product main div h1 {
  font-size: 5rem;
  font-weight: 700;
}
.product main div p {
  font-size: 2rem;
}
@media screen and (max-width: 940px) {
  .product > main {
    gap: 1rem;
    padding: 1rem;
    margin: 1rem auto;
  }
  .product main div {
    margin-top: 4rem;
  }
  .product main div h1 {
    font-size: 3rem;
  }
  .product main div p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 580px) {
  .product main {
    flex-direction: column;
    gap: 0;
  }
  .product main figure {
    margin: 0;
    margin-top: 35rem;
  }
  .product main figure img {
    padding: 0;
  }
  .product main div {
    margin-top: 1rem;
  }
}
