.logo {
  /* width: 15rem; */
  height: 5.2rem;
}

@media screen and (max-width: 780px) {
  .logo {
    height: 3.5rem;
  }
}

@media screen and (max-width: 280px) {
  .logo {
    height: 1.5rem;
  }
}
